{% block projectsTableContent %}

{% for project in projectsArray %}
<tr>
    <td>{{ project.id }}</td>
    <td>{{ project.image.substring(0, 20).trimEnd()+'...' }}</td>
    <td>{{ project.title.substring(0, 20).trimEnd()+'...' }}</td>
    <td>{{ project.content.substring(0, 30).trimEnd()+'...' }}</td>
    <td> {% if project.published === true %}
        Yes
        {% else %}
        No
        {% endif %}
    </td>
    <td>{{ project.createdAt | date("DD/MM/YYYY h:mm:ss a") }}</td>
    <td>{{ project.updatedAt | date("DD/MM/YYYY h:mm:ss a") }}</td>
    <td>{{ project.User.username }}</td>
    <td style="position: relative;">
        <form id="project{{project.id}}Form">
            <button class="btn bg-danger DeleteBtn" data-projectId="{{project.id}}" title="Delete" type="button">
                <i class="fas fa-trash-alt"></i>
            </button>
            <button style="max-width: 40px !important;padding: auto !important; margin-left: 5px;"
                class="btn bg-info ModifyBtn" data-toggle="modal" data-target="#editProjectModal" title="Edit"
                type="button">
                <i class="fas fa-edit"></i>
            </button>
            <input type="hidden" id="project{{project.id}}Id" name="id" value="{{project.id}}">
        </form>
    </td>
</tr>
{% endfor %}

{% endblock %}