{% extends 'layout.html' %}

{% block include %}
<link rel="stylesheet" href="plugins/summernote/summernote.min.css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header row align-items-center">
                <h3 class="card-title col">
                    {% if searchtext %}
                    Search result for "{{searchtext}}" on
                    {% else %}
                    All
                    {% endif %}
                    Projects Table
                    <span id="projectsCountBadge" class="badge badge-light ml-1">{{projectsCount}}</span>
                </h3>
                <div class="card-tools col row justify-content-end align-items-center">
                    <p style="margin:0;">Number of rows :</p>
                    <button class="btn btn-info mr-3 dropdown-toggle ml-1 text-center" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{limit}}</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?limit=5">5</a>
                        <a class="dropdown-item" href="?limit=10">10</a>
                        <a class="dropdown-item" href="?limit=20">20</a>
                        <a class="dropdown-item" href="?limit=50">50</a>
                        <a class="dropdown-item" href="?limit=100">100</a>
                    </div>

                    <button type="button" class="btn btn-info mr-3" data-toggle="modal" data-target="#addProjectModal">
                        <i class="fa fa-plus"></i>
                        Add</button>
                    <div class="input-group input-group-sm align-items-center" style="width: 150px;">
                        <input type="search" name="searchtext" id="searchBarText" class="form-control float-right"
                            placeholder="Search" onsearch="searchForProject (this.value)">

                        <div class="input-group-append">
                            <button type="button" id="searchBarBtn" class="btn btn-default"
                                onclick="searchForProject(document.getElementById('searchBarText').value)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr id="tableTitles">
                            <th>ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Published</th>
                            <th>Creation Date</th>
                            <th>Last Update Date</th>
                            <th>Created By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="projectsTable">

                        {% include "component/projectsTable.html" %}

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <!-- Pagination -->
    <nav style="width: 100%;" aria-label="Page navigation example">
        <ul id="pagination-tables" class="pagination justify-content-center">
            {% include "component/pagination.html" %}
        </ul>
    </nav>
    <!-- /.Pagination -->
</div>

<!-- Add Project Modal -->
<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModalTitle">Add Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="addProject-form" class="container needs-validation" novalidate>

                    <div class="form-group">
                        <label for="addProjectTitle">Title</label>
                        <input type="text" class="form-control" onkeyup="checkTitle()" id="addProjectTitle" name="title"
                            placeholder="Title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            The title is too short/long, please choose anothe one!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addProjectImage">Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="form-control custom-file-input" accept="image/*"
                                    id="addProjectImage" required>
                                <input name="image" type="hidden" value="NewImageURL">
                                <label class="custom-file-label" for="addProjectImage">Choose an image</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addProjectContent">Content</label>
                        <div id="summernote">Content goes here !</div>
                        <input style="visibility: hidden;height: 0px;padding: 0;" type="text" class="form-control"
                            name="content" id="addProjectContent" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Content is too short!
                        </div>
                    </div>

                    <input id="uncheckedVal" type="hidden" name="" value="0">

                    <div class="form-group">
                        <label for="addProjectPublish">Publish?</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" name="published" id="addProjectPublish"
                                value="1" checked>
                            <label class="custom-control-label" for="addProjectPublish"><span
                                    style="color: limegreen;">Green ='Yes'</span> <span
                                    style="color: rgb(255, 98, 98);">Red =
                                    'No'</span></label>
                        </div>
                    </div>

                    <input type="hidden" name="UserId" value="1" required>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addProjectBtn" type="submit" form="addProject-form" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Add</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Add Project Modal -->

<!-- Delete Project Modal -->

<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalTitle">Are you sure you want to delete this Project?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h1 id="deleteProject-formTitle"></h1>
                <form id="deleteProject-form">
                    <input type="hidden" name="id" id="deleteProjectId" value="" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="deleteProjectIdBtn" type="button" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Delete Project Modal -->

<!-- Edit Project Modal -->

<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProjectModalTitle">Modify Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="editProject-form" class="container needs-validation" novalidate>

                    <div class="form-group">
                        <label for="editProjectTitle">Title</label>
                        <input type="text" class="form-control" onkeyup="checkEditTitle()" id="editProjectTitle"
                            name="title" placeholder="Title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            The title is too short/long, please choose anothe one!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editProjectImage">Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="hidden" id="teporariyIMG" name="image">
                                <input type="file" class="form-control custom-file-input" accept="image/*"
                                    id="editProjectImage">
                                <label class="custom-file-label" for="editProjectImage">Choose an image</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editProjectContent">Content</label>
                        <div id="summernoteEdit"></div>
                        <input style="visibility: hidden;height: 0px;padding: 0;" type="text" class="form-control"
                            name="content" id="editProjectContent" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Content is too short!
                        </div>
                    </div>

                    <input id="uncheckedEditVal" type="hidden" name="" value="0">

                    <div class="form-group">
                        <label for="editProjectPublish">Publish?</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" name="published"
                                id="editProjectPublish">
                            <label class="custom-control-label" for="editProjectPublish"><span
                                    style="color: limegreen;">Green ='Yes'</span> <span
                                    style="color: rgb(255, 98, 98);">Red =
                                    'No'</span></label>
                        </div>
                    </div>

                    <input type="hidden" id="editProjectId" name="id" placeholder="ID">

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modifyProjectBtn" type="submit" form="editProject-form" class="btn btn-primary">
                    <i class="fa fa-pen"></i>
                    Edit</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Edit Project Modal -->
{% endblock %}

{% block javascript %}
<script src="plugins/summernote/summernote.min.js"></script>
<script src="plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>


<script>
    //  summernote inside Nested Bootstrap modal dialogs
    $(document).on("hidden.bs.modal", '.modal', function (event) {
        $(".modal:visible").length && $("body").addClass("modal-open");
    });
    // https://github.com/summernote/summernote/issues/2644

    let urlParams = new URLSearchParams(window.location.search);

    $(document).ready(function () {
        // For the custom looking file input
        bsCustomFileInput.init()
        //initialize searchtext
        $('#searchBarText').val(urlParams.get('searchtext'))
    })

    $("#addProjectPublish").change(function () {
        if (this.checked) {
            $(this).val("1")
            $("#uncheckedVal").attr('name', '')
        } else {
            $("#uncheckedVal").attr('name', 'published')
        }
    });

    $("#editProjectPublish").change(function () {
        if (this.checked) {
            $(this).val("1")
            $("#uncheckedEditVal").attr('name', '')
        } else {
            $("#uncheckedEditVal").attr('name', 'published')
        }
    });

    //Delete duplicate dropdown button from summernote
    function deleteDuplicatedropdown() {
        var elements = document.getElementsByClassName('note-icon-caret');
        while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0]);
        }
    }

    $('#addProjectModal').on('show.bs.modal', function () {
        $('#summernote').summernote({
            dialogsInBody: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'italic', 'strikethrough', 'superscript', 'subscript', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph', 'height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['undo', 'redo', 'codeview']],
            ],
            callbacks: {
                onChangeCodeview: function () {
                    checkContent();
                },
                onInit: function () {
                    checkContent();
                    deleteDuplicatedropdown();
                },
                onChange: function () {
                    checkContent();
                }
            }
        });
    })

    function initTooltip() {
        $(".DeleteBtn").hover(function () {
            $(this).tooltip('show')
        });
        $(".ModifyBtn").hover(function () {
            $(this).tooltip('show')
        });
    }

    function initEvents() {
        $(".DeleteBtn").click(function () {
            var projectId = $(this).attr('data-projectId')
            $("#deleteProjectModal #deleteProjectId").val(projectId);
            $("#deleteProject-formTitle").html("ID : " + projectId);
            $('#deleteProjectModal').modal('show');
            return false;
        });

        $("#deleteProjectIdBtn").unbind().click(function () {
            var frm = $("#deleteProject-form")
            $.ajax({
                type: 'DELETE',
                url: 'projects/delete?searchtext=' + urlParams.get('searchtext'),
                data: frm.serialize(),
                success: function (data) {
                    console.log('Project delete was successful.');
                    document.getElementById('projectsCountBadge').innerHTML = data[4]
                    $(document).Toasts('create', {
                        title: data[0],
                        autohide: true,
                        delay: 6500,
                        icon: data[1],
                        class: data[2],
                        body: data[3]
                    })
                    if (data[0] !== 'An error has occured')
                        $('#deleteProjectModal').modal('toggle')
                    updateTable('projects/getProjects?')
                }
            });
        });

        $(".ModifyBtn").click(function () {
            var frm = $(this).parent()
            $.ajax({
                type: 'POST',
                url: 'projects/getByID',
                data: frm.serialize(),
                success: function (data) {
                    console.log('Project data sent to modify modal successfully.');
                    $('#summernoteEdit').summernote('destroy');
                    $('#editProjectModal').modal('show')
                    document.getElementById('editProjectTitle').value = data.title
                    document.getElementById('editProjectContent').value = data.content
                    document.getElementById('teporariyIMG').value = data.image
                    $('#summernoteEdit').summernote({
                        dialogsInBody: true,
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'underline', 'italic', 'strikethrough', 'superscript', 'subscript', 'clear']],
                            ['fontname', ['fontname']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph', 'height']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'video']],
                            ['view', ['undo', 'redo', 'codeview']],
                        ],
                        callbacks: {
                            onChangeCodeview: function () {
                                checkEditContent();
                            },
                            onInit: function () {
                                $("#summernoteEdit").summernote("code", data.content)
                                checkEditContent();
                                deleteDuplicatedropdown();
                            },
                            onChange: function () {
                                checkEditContent();
                            }
                        }
                    })
                    document.getElementById('editProjectPublish').value = data.published
                    if (data.published) {
                        document.getElementById('editProjectPublish').checked = true;
                        document.getElementById('uncheckedEditVal').setAttribute("name", "");
                    } else {
                        document.getElementById('editProjectPublish').checked = false;
                        document.getElementById('uncheckedEditVal').setAttribute("name", "published");
                    }
                    document.getElementById('editProjectId').value = data.id
                }
            });
            return false;
        });
    }

    initTooltip()
    initEvents()
    function searchForProject(input) {
        if (input)
            window.location = ('/projects?searchtext=' + input)
        else
            window.location = ('/projects')
        urlParams = new URLSearchParams(window.location.search)
        updateTable('projects/search?searchtext=' + input + '&')
    };
    function updateTable(url) {
        $.ajax({
            type: 'GET',
            url: url + 'searchtext=' + urlParams.get('searchtext') + '&' + 'page=' + urlParams.get('page') + '&limit=' + urlParams.get('limit'),
            success: function (data) {
                console.log('table update was successful.');
                document.getElementById('projectsTable').innerHTML = data
                initEvents()
                initTooltip()
                $.ajax({
                    type: 'GET',
                    url: 'projects/getProjectsPagination?' + 'searchtext=' + urlParams.get('searchtext') + '&' + 'page=' + urlParams.get('page') + '&limit=' + urlParams.get('limit'),
                    success: function (data) {
                        document.getElementById('pagination-tables').innerHTML = data
                        console.log('pagination updated.')
                    }
                })
            }
        })
    }

    $("#modifyProjectBtn").click(function () {
        var frm = $('#editProject-form')
        if (!document.getElementById('editProject-form').checkValidity())
            return;
        $.ajax({
            type: 'PUT',
            url: 'projects/update',
            data: frm.serialize(),
            success: function (data) {
                console.log('Project update was successful.');
                $(document).Toasts('create', {
                    title: data[0],
                    autohide: true,
                    delay: 6500,
                    icon: data[1],
                    class: data[2],
                    body: data[3]
                })
                $('#editProjectModal').modal('toggle')
                updateTable('projects/getProjects?')
            }
        })
        return false;
    });

    $("#addProjectBtn").click(function () {
        var frm = $('#addProject-form')
        if (!document.getElementById('addProject-form').checkValidity())
            return;

        $.ajax({
            type: 'POST',
            url: 'projects/add?searchtext=' + urlParams.get('searchtext'),
            data: frm.serialize(),
            success: function (data) {
                console.log('Project add was successful.');
                document.getElementById('projectsCountBadge').innerHTML = data[4]
                $(document).Toasts('create', {
                    title: data[0],
                    autohide: true,
                    delay: 6500,
                    icon: data[1],
                    class: data[2],
                    body: data[3]
                })
                if (data[0] !== 'An error has occured')
                    $('#addProjectModal').modal('toggle')

                updateTable('projects/getProjects?')
            }
        });
        return false;
    });


    function checkTitle() {
        const Title = document.querySelector('#addProjectTitle');
        if (Title.value.length >= 2 && Title.value.length <= 80) {
            Title.setCustomValidity('');
        } else {
            Title.setCustomValidity('This title is not valid!');
        }
    }
    function checkEditTitle() {
        const editTitle = document.querySelector('#editProjectTitle');
        if (editTitle.value.length >= 2 && editTitle.value.length <= 80) {
            editTitle.setCustomValidity('');
        } else {
            editTitle.setCustomValidity('This title is not valid!');
        }
    }
    function checkContent() {
        const Content = document.querySelector('#addProjectContent');
        Content.value = $("#summernote").summernote("code");
        if (Content.value.length >= 20) {
            Content.setCustomValidity('');
        } else {
            Content.setCustomValidity('This Content is not valid!');
        }
    }
    function checkEditContent() {
        const editContent = document.querySelector('#editProjectContent');
        editContent.value = $("#summernoteEdit").summernote("code");
        if (editContent.value.length >= 20) {
            editContent.setCustomValidity('');
        } else {
            editContent.setCustomValidity('This Content is not valid!');
        }
    }

</script>

{% endblock %}