{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header row align-items-center">
                <h3 class="card-title col">All Users Table<span id="usersCountBadge"
                        class="badge badge-light ml-1">{{usersCount}}</span>
                </h3>
                <div class="card-tools col row justify-content-end align-items-center">
                    <p style="margin:0;">Number of rows :</p>
                    <button class="btn btn-info mr-3 dropdown-toggle ml-1 text-center" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{limit}}</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?limit=5">5</a>
                        <a class="dropdown-item" href="?limit=10">10</a>
                        <a class="dropdown-item" href="?limit=20">20</a>
                        <a class="dropdown-item" href="?limit=50">50</a>
                        <a class="dropdown-item" href="?limit=100">100</a>
                    </div>

                    <button type="button" class="btn btn-info mr-3" data-toggle="modal" data-target="#addUserModal">
                        <i class="fa fa-plus"></i>
                        Add</button>
                    <div class="input-group input-group-sm align-items-center" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr id="tableTitles">
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Creation Date</th>
                            <th>Last Update Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="usersTable">

                        {% include "component/usersTable.html" %}

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <!-- Pagination -->
    <nav style="width: 100%;" aria-label="Page navigation example">
        <ul id="pagination-tables" class="pagination justify-content-center">
            {% include "component/pagination.html" %}
        </ul>
    </nav>
    <!-- /.Pagination -->
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="addUser-form" class="container needs-validation" novalidate>

                    <div class="input-group has-validation mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" onkeyup="checkEmail()" id="addUserEmail" name="email"
                            placeholder="Email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid email, that ends with a valid domain name.
                        </div>
                    </div>

                    <div class="input-group has-validation mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" onkeyup="checkUsername()" name="username"
                            id="addUserUsername" placeholder="Username" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid username that's between 2-25 characters.
                        </div>
                    </div>

                    <div class="input-group has-validation mb-3">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="button" id="password-addon" onclick="showpassword()">
                                <i id="password-addon-image" class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                        <input type="password" onkeyup="onChange()" class="form-control" id="addUserPassword"
                            placeholder="Password" autocomplete="off" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please specify a password.
                        </div>
                    </div>

                    <div class="input-group has-validation mb-3">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="button" id="confirmPassword-addon"
                                onclick="showConfirmPassword()">
                                <i id="confirmPassword-image" class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                        <input type="password" onkeyup="onChange()" name="password" class="form-control"
                            id="addUserConfirmPass" placeholder="Confirm Password" autocomplete="off" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Passwords don't match!
                        </div>
                    </div>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addUserBtn" type="submit" form="addUser-form" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Add</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Add User Modal -->

<!-- Delete User Modal -->

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalTitle">Are you sure you want to delete this User?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h1 id="deleteUser-formTitle"></h1>
                <form id="deleteUser-form">
                    <input type="hidden" name="id" id="deleteUserId" value="" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="deleteUserIdBtn" type="button" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Delete User Modal -->

<!-- Edit User Modal -->

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalTitle">Modify User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="editUser-form" class="container needs-validation" novalidate>

                    <div class="input-group has-validation mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" onkeyup="checkEditEmail()" id="editUserEmail"
                            name="email" placeholder="Email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid email, that ends with a valid domain name.
                        </div>
                    </div>

                    <input type="hidden" id="editUserId" name="id" placeholder="ID">

                    <div class="input-group has-validation mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" onkeyup="checkEditUsername()" name="username"
                            id="editUserUsername" placeholder="Username" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid username that's between 2-25 characters.
                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modifyUserBtn" type="submit" form="editUser-form" class="btn btn-primary">
                    <i class="fa fa-user-edit"></i>
                    Edit</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Edit User Modal -->
{% endblock %}

{% block javascript %}

<script>
    function initTooltip() {
        $(".DeleteBtn").hover(function () {
            $(this).tooltip('show')
        });
        $(".ModifyBtn").hover(function () {
            $(this).tooltip('show')
        });
    }
    initTooltip()
    const urlParams = new URLSearchParams(window.location.search);
    initEvents()
    function updateTable(url, tableId) {
        $.ajax({
            type: 'GET',
            url: url + '?page=' + urlParams.get('page') + '&limit=' + urlParams.get('limit'),
            success: function (data) {
                console.log('table update was successful.');
                document.getElementById(tableId).innerHTML = data
                initEvents()
                initTooltip()
                $.ajax({
                    type: 'GET',
                    url: 'users/getUsersPagination?page=' + urlParams.get('page') + '&limit=' + urlParams.get('limit'),
                    success: function (data) {
                        document.getElementById('pagination-tables').innerHTML = data
                        console.log('pagination updated.')
                    }
                })
            }
        })
    }
    $("#modifyUserBtn").click(function () {
        var frm = $('#editUser-form')
        if (!document.getElementById('editUser-form').checkValidity())
            return;

        $.ajax({
            type: 'POST',
            url: 'users/checkUserDuplicate',
            data: frm.serialize(),
            success: function (data) {
                if (data !== '') {
                    $(document).Toasts('create', {
                        title: data[0],
                        autohide: true,
                        delay: 6500,
                        icon: data[1],
                        class: data[2],
                        body: data[3]
                    })
                } else {
                    $.ajax({
                        type: 'PUT',
                        url: 'users/update',
                        data: frm.serialize(),
                        success: function (data) {
                            console.log('User update was successful.');
                            $(document).Toasts('create', {
                                title: data[0],
                                autohide: true,
                                delay: 6500,
                                icon: data[1],
                                class: data[2],
                                body: data[3]
                            })
                            $('#editUserModal').modal('toggle')
                            updateTable('users/getUsers', 'usersTable')
                        }
                    })
                }
            }
        })
        return false;
    });

    $("#addUserBtn").click(function () {
        var frm = $('#addUser-form')
        if (!document.getElementById('addUser-form').checkValidity())
            return;

        $.ajax({
            type: 'POST',
            url: 'users/add',
            data: frm.serialize(),
            success: function (data) {
                console.log('User add was successful.');
                document.getElementById('usersCountBadge').innerHTML = data[4]
                $(document).Toasts('create', {
                    title: data[0],
                    autohide: true,
                    delay: 6500,
                    icon: data[1],
                    class: data[2],
                    body: data[3]
                })
                if (data[0] !== 'An error has occured')
                    $('#addUserModal').modal('toggle')

                updateTable('users/getUsers', 'usersTable')
            }
        });
        return false;
    });
    function initEvents() {
        $(".DeleteBtn").click(function () {
            var userId = $(this).attr('data-userId')
            $("#deleteUserModal #deleteUserId").val(userId);
            $("#deleteUser-formTitle").html("ID : " + userId);
            $('#deleteUserModal').modal('show');
            return false;
        });

        $("#deleteUserIdBtn").unbind().click(function () {
            var frm = $("#deleteUser-form")
            $.ajax({
                type: 'DELETE',
                url: 'users/delete',
                data: frm.serialize(),
                success: function (data) {
                    console.log('User delete was successful.');
                    document.getElementById('usersCountBadge').innerHTML = data[4]
                    $(document).Toasts('create', {
                        title: data[0],
                        autohide: true,
                        delay: 6500,
                        icon: data[1],
                        class: data[2],
                        body: data[3]
                    })
                    if (data[0] !== 'An error has occured')
                        $('#deleteUserModal').modal('toggle')
                    updateTable('users/getUsers', 'usersTable')
                }
            });
        });

        $(".ModifyBtn").click(function () {
            var frm = $(this).parent()
            $.ajax({
                type: 'POST',
                url: 'users/getByID',
                data: frm.serialize(),
                success: function (data) {
                    console.log('User data sent to modify modal successfully.');
                    $('#editUserModal').modal('show')
                    document.getElementById('editUserEmail').value = data.email
                    document.getElementById('editUserUsername').value = data.username
                    document.getElementById('editUserId').value = data.id
                }
            });
            return false;
        });
    }
    function onChange() {
        const password = document.querySelector('#addUserPassword');
        const confirm = document.querySelector('#addUserConfirmPass');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
        }
    }
    function checkEmail() {
        const email = document.querySelector('#addUserEmail');
        var emailtest = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (emailtest.test(email.value)) {
            email.setCustomValidity('');
        } else {
            email.setCustomValidity('This email is not valid!');
        }
    }
    function checkUsername() {
        const username = document.querySelector('#addUserUsername');
        if (username.value.length >= 2 && username.value.length <= 25) {
            username.setCustomValidity('');
        } else {
            username.setCustomValidity('This username is not valid!');
        }
    }
    function checkEditEmail() {
        const editEmail = document.querySelector('#editUserEmail');
        var editEmailTest = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (editEmailTest.test(editEmail.value)) {
            editEmail.setCustomValidity('');
        } else {
            editEmail.setCustomValidity('This email is not valid!');
        }
    }
    function checkEditUsername() {
        const username = document.querySelector('#editUserUsername');
        if (username.value.length >= 2 && username.value.length <= 25) {
            username.setCustomValidity('');
        } else {
            username.setCustomValidity('This username is not valid!');
        }
    }
    function showpassword() {
        if (document.getElementById('addUserPassword').type === 'password') {
            document.getElementById('addUserPassword').type = 'text'
            document
                .getElementById('password-addon-image')
                .classList
                .replace("fa-eye-slash", "fa-eye")
            hidden = 0
        } else {
            document.getElementById('addUserPassword').type = 'password'
            document
                .getElementById('password-addon-image')
                .classList
                .replace("fa-eye", "fa-eye-slash")
        }
    }
    function showConfirmPassword() {
        if (document.getElementById('addUserConfirmPass').type === 'password') {
            document.getElementById('addUserConfirmPass').type = 'text'
            document
                .getElementById('confirmPassword-image')
                .classList
                .replace("fa-eye-slash", "fa-eye")
            hidden = 0
        } else {
            document.getElementById('addUserConfirmPass').type = 'password'
            document
                .getElementById('confirmPassword-image')
                .classList
                .replace("fa-eye", "fa-eye-slash")
        }
    }
</script>

{% endblock %}