{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Users Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr id="tableTitles">
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Creation Date</th>
                            <th>Last Update Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in usersArray %}
                        <tr>
                            <th>{{ user.id }}</th>
                            <th>{{ user.username }}</th>
                            <th>{{ user.email }}</th>
                            <th>{{ user.createdAt }}</th>
                            <th>{{ user.updatedAt }}</th>
                            <th><a class="btn bg-danger" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a style="max-width: 40px !important;padding: auto !important; margin-left: 5px;"
                                    class="btn bg-info" data-bs-toggle="tooltip" data-bs-placement="buttom"
                                    title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

{% endblock %}